.bg-lightblue {
    background-color: #ADD8E6;
}

.navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.navbar img {
    height: 50px;
}

.nav-titulo {
    flex: 1 1 auto;
    text-align: center;
}

.nav-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width: 576px) {
    .navbar {
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding-left: 0px;
    }

    .nav-links {
        justify-content: center;
    }
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.15);
    border-radius: inherit;
    z-index: 0;
}

.hero > * {
    position: relative;
    z-index: 1;
}

.imagen-a-usar {
    display: block;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    padding-bottom: 15px;
    object-fit: cover; /*La imagen no es 4:3 por lo que tuve que recortarla para que no se deformara*/
}

